{% extends './base.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Phasellus dignissim torefficitur. Praesent sollicitudin, risus et venenatis 
iaculis, mi mauris aliquam urna, eu condimentum libero metus non purus. Proin vel eleifend purus, at sollicitudin purus. Vestibulum commodo vulputate sapien, ac iaculis leo feugiat vitae. Ut vehicula nulla nec turpis scelerisque porttitor.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Create an account</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Latest Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.display_image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-blue text-decoration-none" href="{{product.get_absolute_url}}">{{ product.name|slice:":25" }}</a>
              </p>
              <div class="col-6 text-start"><span class="h4 fw-bold">${{ product.price }}</span></div>
              <div class="col-6 text-start"><span class="text-muted"><strike>${{ product.discount_price }}</strike></span></div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{product.brand}}</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}